.course {
	margin-left: 50%;
	margin-right: 5px;
	margin-top: 5px;
}

.course > li {
	list-style: none;
}

.checked {
	background-color: gray;
}

.sum-margin {
	margin-left: 110px;
	border-top: solid black 1px;
}